<!-- /templates/cart.liquid -->
{% comment %}

  This is your /cart template. If you are using the Ajaxify Cart plugin,
  your form (with action="/cart") layout will be used in the drawer/modal.

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
{% if cart.item_count > 0 %}

  <form action="/cart" method="post" novalidate class="cart">

    <h1>{{ 'cart.general.title' | t }}</h1>

    <div class="cart__row medium-down--hide cart__header-labels">
      <div class="grid--full">
        <div class="grid__item large--one-half">
          <div class="grid">
            <div class="grid__item two-thirds push--one-third">
              {{ 'cart.label.product' | t }}
            </div>
          </div>
        </div>
        <div class="grid__item large--one-half">
          <div class="grid--full">
            <div class="grid__item one-third medium-down--one-third">
              {{ 'cart.label.price' | t }}
            </div>
            <div class="grid__item one-third medium-down--one-third text-center">
              {{ 'cart.label.quantity' | t }}
            </div>
            <div class="grid__item one-third medium-down--one-third text-right">
              {{ 'cart.label.total' | t }}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% comment %}
      Loop through products in the cart
    {% endcomment %}
    {% for item in cart.items %}
      <div class="cart__row" data-id="{{ item.id }}">
        <div class="grid--full cart__row--table-large">

          <div class="grid__item large--one-half">
            <div class="grid">

              <div class="grid__item one-third">
                <a href="{{ item.url | within: collections.all }}" class="cart__image">

                  {% comment %}
                    More image size options at:
                      - http://docs.shopify.com/themes/filters/product-img-url
                  {% endcomment %}
                  <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                </a>
              </div>

              <div class="grid__item two-thirds">
                <a href="{{ item.url }}" class="h4">
                  {{ item.product.title }}
                </a>
                {% unless item.variant.title contains 'Default' %}
                  <br>
                  <small>{{ item.variant.title }}</small>
                {% endunless %}

                {% if settings.cart_vendor_enable %}
                  <p>{{ item.vendor }}</p>
                {% endif %}

                {% comment %}
                  Optional, loop through custom product line items if available

                  For more info on line item properties, visit:
                    - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                {% endcomment %}
                {% if item.properties.size > 0 %}
                  {% for p in item.properties %}
                    {% unless p.last == blank %}
                      {{ p.first }}:

                      {% comment %}
                        Check if there was an uploaded file associated
                      {% endcomment %}
                      {% if p.last contains '/uploads/' %}
                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                        {{ p.last }}
                      {% endif %}

                      <br>
                    {% endunless %}
                  {% endfor %}
                {% endif %}

                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove" data-id="{{ item.id }}">
                  <small>{{ 'cart.general.remove' | t }}</small>
                </a>
              </div>

            </div>
          </div>

          <div class="grid__item large--one-half">
            <div class="grid--full cart__row--table-large">

              <div class="grid__item one-third">
                <span class="cart__mini-labels">{{ 'cart.label.price' | t }}</span>
                <span class="h3">{{ item.price | money }}</span>
              </div>

              <div class="grid__item one-third text-center">
                <span class="cart__mini-labels">{{ 'cart.label.quantity' | t }}</span>
                {% comment %}
                  Added data-id for the ajax cart implementation only.
                {% endcomment %}
                <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}">
              </div>

              <div class="grid__item one-third text-right">
                <span class="cart__mini-labels">{{ 'cart.label.total' | t }}</span>
                <span class="h3">{{ item.line_price | money }}</span>
              </div>

            </div>
          </div>

        </div>
      </div>
    {% endfor %}

    <div class="cart__row">
      <div class="grid">
        {% comment %}
          Optional, add a textarea for special notes
            - Your theme settings can turn this on or off. Default is on.
            - Make sure you have name="note" for the message to be submitted properly
        {% endcomment %}
        {% if settings.cart_notes_enable %}
          <div class="grid__item large--one-half">
            <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
            <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
          </div>
        {% endif %}
        <div class="grid__item text-right{% if settings.cart_notes_enable %} large--one-half{% endif %}">
          <p>
            <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
            <span class="h3 cart__subtotal">{{ cart.total_price | money }}</span>
          </p>
          <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
          <input type="submit" name="update" class="btn--secondary update-cart" value="{{ 'cart.general.update' | t }}">
          <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">

          {% if additional_checkout_buttons %}
            <p>{{ content_for_additional_checkout_buttons }}</p>
          {% endif %}
        </div>
      </div>

    </div>

    <!-- start custom form section -->

          <div id="custom-checkout-form">

            <p>

              We need some additional information from you in order to form mentoring groups and study groups.

              </p>

              <p>

              Please fill out the information below, then click Checkout to proceed to payment.

            </p>

            <input type="checkbox" name="choice-dollar" id="purchasing-gift" checked>

            <p class="italic">

              If you are purchasing a gift card to pay for another person’s registration, please uncheck this box.

            </p>

            <div class="reveal-if-active">

              <div class="question">

                <!-- gender -->

                {% assign attribute = 'gender' %}

                <label for="{{ attribute }}">Gender:</label>

                <select id="gender" name="attributes[gender]" required class="require-if-active" data-require-pair="#purchasing-gift">

                  {% for i in (1..3) %}

                  {% capture option %}{% cycle '', 'Male', 'Female' %}{% endcapture %}

                  <option value="{{ option }}"{% if cart.attributes[attribute] == option %} selected="selected"{% endif %} data-error="Please tell us your info.">{{ option }}</option>

                  {% endfor %}

                </select>

              </div>

              <div class="question">
                <!-- age range -->

                {% assign attribute = 'age-range' %}

                <label for="{{ attribute }}">Age range:</label>

                <select id="age-range" name="attributes[age-range]" required class="require-if-active" data-require-pair="#purchasing-gift">

                  {% for i in (1..6) %}

                  {% capture option %}{% cycle '', '18-29', '30-39', '40-49', '50-59', '60+' %}{% endcapture %}

                  <option value="{{ option }}"{% if cart.attributes[attribute] == option %} selected="selected"{% endif %}  data-error="Please tell us your info.">{{ option }}</option>

                  {% endfor %}

                </select>

              </div>

              <div class="question">

                <!-- primary language -->

                {% assign attribute = 'primary-language' %}

                <label for="{{ attribute }}">Primary language</label>

                <select id="primary-language" name="attributes[primary-language]" required class="require-if-active" data-require-pair="#purchasing-gift">

                  {% for i in (1..3) %}

                  {% capture option %}{% cycle '', 'English', 'German' %}{% endcapture %}

                  <option value="{{ option }}"{% if cart.attributes[attribute] == option %} selected="selected"{% endif %}  data-error="Please tell us your info.">{{ option }}</option>

                  {% endfor %}

                </select>

              </div>

              <div class="question">

                <!-- time zone -->

                {% assign attribute = 'time-zone' %}

                <label for="{{ attribute }}">Time Zone</label>

                <select id="time-zone" name="attributes[time-zone]" required class="require-if-active" data-require-pair="#purchasing-gift">

                  {% for i in (1..9) %}

                  {% capture option %}{% cycle '', 'Pacific Time (US&#44; Canada)', 'Mountain Time (US&#44; Canada)', ' Central Time (US&#44; Canada)', 'Eastern Time (US&#44; Canada)', 'Western European Time', 'Eastern European Time', 'Israel Time', 'Other (enter below)' %}{% endcapture %}

                  <option value="{{ option }}"{% if cart.attributes[attribute] == option %} selected="selected"{% endif %}  data-error="Please tell us your info.">{{ option }}</option>

                  {% endfor %}

                </select>

              </div>

              <div class="question">

                <p class="field">
                  <label>If your time zone is not listed, enter yours here</label>
                  <!--<textarea id="other-time-zone" name="attributes[other-time-zone]">{{ other-time-zone }}</textarea>-->

                  <input type="text" name="attributes[other-time-zone]" value="{{ cart.attributes.other-time-zone }}" data-require-pair="#purchasing-gift" />

                </p>

              </div>

              <div class="question">

                <!-- country of residence -->

                <p class="field">
                  <label>Country of residence</label>
                  <!--<textarea rows="1" cols="5" id="country" name="attributes[country]" required class="require-if-active" data-require-pair="#purchasing-gift" >{{ country }}</textarea>-->

                  <input type="text" name="attributes[country]" value="{{ cart.attributes.country }}" class="require-if-active" data-require-pair="#purchasing-gift" />

                </p>

              </div>
                <div class="question">
                <!-- city of residence -->

                <p class="field">
                  <label>City of residence</label>
                  <!--<textarea id="city" name="attributes[city]" required class="require-if-active" data-require-pair="#purchasing-gift">{{ city }}</textarea>-->

                  <input type="text" name="attributes[city]" value="{{ cart.attributes.city }}" class="require-if-active" data-require-pair="#purchasing-gift" />

                </p>

              </div>

              <div class="question">

                <!-- track -->

                {% assign attribute = 'track' %}

                <label for="{{ attribute }}">Track:</label>

                <p class="italic">Cick <a href="http://online.thomashuebl.com/pdf/mphealing/Mystical_Principles_of_Healing_Track_Definitions.pdf
  " target="_blank" style="text-decoration: underline;">here</a> for details</p>

                <select id="track" name="attributes[track]" required class="require-if-active" data-require-pair="#purchasing-gift">

                  {% for i in (1..7) %}

                  {% capture option %}{% cycle '', 'Psychotherapy', 'Medical Practitioners', 'Bodyworkers', 'Coaches and Group Leaders', 'Alternative practitioners', ' Individual (non-professional)' %}{% endcapture %}

                  <option value="{{ option }}"{% if cart.attributes[attribute] == option %} selected="selected"{% endif %}  data-error="Please tell us your info.">{{ option }}</option>

                  {% endfor %}

                </select>

              </div>

              <!-- experiene -->

              <p class="field" style="margin: 15px 1%;">
                <label>Past or current experience with Thomas’s work (250 words max.)</label>
                <textarea id="past-or-current-experience-with-thomass-work-250-words-max" name="attributes[experience]" required class="require-if-active" data-require-pair="#purchasing-gift" maxlength="1500">{{ experience }}</textarea>
              </p>

            </div> <!-- end reveal if active -->

          </div> <!-- end custom built checkout-form -->

          <!-- end custom form section -->

  </form>

{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <h2>{{ 'cart.general.title' | t }}</h2>
  <p>{{ 'cart.general.empty' | t }}</p>
  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
{% endif %}

<style>

  input[type="number"],
  input[type="text"],
  textarea,
  select {

    border: 1px solid #a6a6a6;
    color: #204a80;

  }

  #custom-checkout-form {

    text-align: center;
    max-width: 1000px;
    color: #204a80;
    margin: auto;

  }

  #custom-checkout-form .question {

    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 15px 1%;

  }

  #custom-checkout-form .question:nth-of-type( 1 ),
  #custom-checkout-form .question:nth-of-type( 2 ),
  #custom-checkout-form .question:nth-of-type( 3 ) {

    width: 28%;

  }

  #custom-checkout-form .question:nth-of-type( 4 ) {

    width: 28%;

  }

  #custom-checkout-form .question:nth-of-type( 5 ) {

    width: 58%;

  }

  #custom-checkout-form .question:nth-of-type( 6 ),
  #custom-checkout-form .question:nth-of-type( 7 ) {

    width: 43%;

  }

  #custom-checkout-form .question:nth-of-type( 8 ) {

    width: 58%;

  }

  #custom-checkout-form p.italic,
  .italic {

    display: inline-block;
    font-weight: normal;
    font-style: italic;
    font-size: .9em;
    padding: 0;

  }

  #custom-checkout-form label,
  #custom-checkout-form p {

    font-weight: bold;

  }

  #custom-checkout-form select {

    background-size: 15px;

  }

  /* reveal if active */

  .reveal-if-active {

    display: none;

  }

  input[type="radio"]:checked ~ .reveal-if-active,
  input[type="checkbox"]:checked ~ .reveal-if-active {

    display: block;

  }


  /* mobile */

  @media (max-width: 700px) {

    #custom-checkout-form .question:nth-of-type( 1 ),
    #custom-checkout-form .question:nth-of-type( 2 ),
    #custom-checkout-form .question:nth-of-type( 3 ),
    #custom-checkout-form .question:nth-of-type( 4 ) {

      width: 45%;

    }

    #custom-checkout-form .question:nth-of-type( 5 ) {

    width: 94%;

    }

    #custom-checkout-form .question:nth-of-type( 6 ),
    #custom-checkout-form .question:nth-of-type( 7 ) {

    width: 46%;

    }

    #custom-checkout-form .question:nth-of-type( 8 ) {

    width: 94%;

    }

  }

    @media (max-width: 500px) {

    #custom-checkout-form .question:nth-of-type( 1 ),
    #custom-checkout-form .question:nth-of-type( 2 ),
    #custom-checkout-form .question:nth-of-type( 3 ),
    #custom-checkout-form .question:nth-of-type( 4 ),
    #custom-checkout-form .question:nth-of-type( 5 ),
    #custom-checkout-form .question:nth-of-type( 6 ),
    #custom-checkout-form .question:nth-of-type( 7 ),
    #custom-checkout-form .question:nth-of-type( 8 ) {

    width: 94%;

    }

  }

</style>

<script>

  var FormStuff = {

  init: function() {
    // kick it off once, in case the radio is already checked when the page loads
    this.applyConditionalRequired();
    this.bindUIActions();
  },

  bindUIActions: function() {
    // when a radio or checkbox changes value, click or otherwise
    $("input[type='radio'], input[type='checkbox']").on("change", this.applyConditionalRequired);
  },

  applyConditionalRequired: function() {
    // find each input that may be hidden or not
    $(".require-if-active").each(function() {
      var el = $(this);
      // find the pairing radio or checkbox
      if ($(el.data("require-pair")).is(":checked")) {
        // if its checked, the field should be required
        el.prop("required", true);
      } else {
        // otherwise it should not
        el.prop("required", false);
      }
    });
  }

};

FormStuff.init();

</script>


