<!-- /templates/product.liquid -->

<div class="bespoke-plx" itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">

  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="plx-product plx-group">

    <div class="plx-layer plx-layer-base">

        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

        <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">

    </div>

    <div class="plx-layer plx-layer-back">

        <div class="plx-title">

          <h1 itemprop="name">

            {{ product.title }}

          </h1>

          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

          {% assign variant = product.selected_or_first_available_variant %}

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

              <select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
              {% if variant.available %}

              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

              {% else %}
              <option disabled="disabled">
                {{ variant.title }} - {{ 'products.product.sold_out' | t }}
              </option>
              {% endif %}
              {% endfor %}
              </select>


              <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>

              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">

              <button type="submit" name="add" id="AddToCart" class="btn">

                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>

              </button>

            </form>

          </div>

          <div itemprop="description">

            {{ product.description }}

          </div>

        </div>

      </div>

  </div>

  <div class="plx-blog">

    {% for article in blogs.product-features.articles %}

    {% if article.tags contains product.title %}

    <div class="plx-group">

      <div class="plx-layer plx-layer-base">

        {{ article.content }}

      </div>

      <div class="plx-layer plx-layer-back">

        <div class="plx-title">

          <h3>

            {{ article.title }}

          </h3>

          <p>

            {{ article.excerpt }}

          </p>

        </div>

      </div>

    </div>

    {% endif %}

    {% endfor %}

  </div>

</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>

  <style>


    /* general product page */

    body {

      background: #f7f7f9;

    }

    .bespoke-plx {

      height: 100%;
      height: 100vh;
      min-height: 1000%;
      min-height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-perspective: 1px;
      perspective: 1px;

    }

    .plx-group {

      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      position: relative;
      height: 1200px;

    }

    .plx-layer {

      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;

    }

    .plx-layer-back {

      -webkit-transform: translateZ( -1px ) scale( 2 );
      transform: translateZ( -1px ) scale( 2 );

    }

    .plx-layer-base {

      -webkit-transform: translateZ( 0 );
      transform: translateZ( 0 );

    }


    /* parallax product section */

    .plx-product.plx-group:nth-of-type( odd ) {

      text-align: left;

    }

    .plx-product.plx-group:nth-of-type( odd ) .plx-title {

      left: 75%;
      top: 25%;

    }

    .plx-product.plx-group:nth-of-type( even )  {

      text-align: right;

    }

    .plx-product.plx-group:nth-of-type( even ) .plx-title {

      left: 25%;

    }

    .plx-product img {

      height: 90vh;
      width: auto;
      margin: 0 0 10vh 0;

    }


    /* parallax blog section */

    .plx-blog {

      margin-top: 80%;
      margin-top: 80vh;

    }

    .plx-blog img {

      box-shadow: none;
      height: 600px;

    }

    .plx-blog.plx-group:nth-of-type(even) {

      text-align: right;

    }

    .plx-blog.plx-group:nth-of-type( even ) .plx-title {

      left: 75%;

    }

    .plx-blog.plx-group:nth-of-type( odd )  {

      text-align: right;

    }

    .plx-blog.plx-group:nth-of-type( odd ) .plx-title {

      left: 25%;

    }

    .plx-blog.plx-title {

      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      position: absolute;
      max-width: 320px;
      width: 100%;
      left: 50%;
      top: 5%;

    }

    .plx-blog.plx-title h3:before {

      border-top: 4px solid #333;
      position: absolute;
      margin: auto;
      width: 30px;
      content:'';
      right: 0;
      left: 0;
      top: 0;

    }

    .plx-blog.plx-title h3 {

      font-family: 'Didot 11 A', 'Didot 11 B';
      text-transform: lowercase;
      padding: 15px 5px 10px 5px;
      font-style: italic;
      position: relative;
      font-weight: 300;
      color: #000;

    }


  </style>
